/* 共有样式 */
.bg-pink {
    background: #ff4885;
}
.bg-subpink {
    background: #ff4785;
}
.color-pink {
    color: #ff4885;
}
.link-item {
    color: #aaa;
}
.color-c {
    color: #ccc;
}
.color-6 {
    color: #666;
}
.color-a {
    color: #aaa;
}
.color-yellow {
    color: yellow;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-12 {
    font-size: 12px;
}
.title-color {
    color: #434343;
}
.sub-color {
    color: #ff4886;
}
.white {
    color: #fff;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #ff4785;
    border-bottom: 20px solid transparent;
}
.color-9 {
    color: #999;
}
.pink-btn {
    outline: none 0;
    border: none 0;
    width: 75px;
    height: 30px;
    color: #fff;
    background-color: #fe4885;
    border-radius: 4px;
    cursor: pointer;
}
.pink-btn-beside {
     outline: none 0;
     border: none 0;
    width: 115px;
    height: 35px;
     color: #fff;
     background-color: #fe4885;
    border-radius: 19px / 17px;
     cursor: pointer;
 }
.icon-color {
    color: #f84e4e;
}